.container {
    height: 600px;
    width: 700px;
    background-color: #61dafb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.position-1 {}

.position-2 {}

.position-3 {}

table, tr, td {
    border: none;
    text-align: center;
}

.selected {
    width: 233px;
}

.boss {
    width: 200px;
}

.info-bar {
    width: 700px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px;
}

.hp-content {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.hp-bar {
    margin-left: 2%;
    border: 1px solid lightgray;
    width: 100%;
    background-color: lightgray;
}

.hp-bar-rest {
    width: 75%;
    height: 100%;
    background-color: green !important;
}