.container-shooter {
    /* height: 85px; */
    width: 700px;
    /* background-color: #61dafb; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -13.5%;
}
table, tr, td{
    border:none;
    text-align: center;
}

.shooter-table {
    width: 100%;
}

.shotgun {
    width: 200px;
    margin-top: -56%;
}

.selected {
    width:233px ;
}