.container-shooter {
    height: 85px;
    width: 700px;
    background-color: #61dafb;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
table, tr, td{
    border:none;
    text-align: center;
}

.shooter-table {
    width: 100%;
}

.shotgun {
    width: 200px;
}

.selected {
    width:233px ;
}